<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Proyecto Integrador - Nosotros</title>
</head>

<body>

  <header class="main-header">
    <input type="checkbox" id="menu">

    <nav class="nav-bar"> <!-- nav-bar -->
      <ul class="nav-bar__nav-list">
        <li class="nav-bar__nav-item">
          <a href="../index.html" class="nav-bar__nav-link">Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="#" class="nav-bar__nav-link">Alta</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="contacto.html" class="nav-bar__nav-link">Contacto</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="nosotros.html" class="nav-bar__nav-link">Nosotros</a>
        </li>
      </ul>
    </nav> <!-- nav-bar -->
    <div class="search-bar"> <!-- search-bar -->
      <div class="search-bar__logo-container">C-ON</div>
      <form action="" class="search-bar__form-container">
        <label for="busqueda" class="search-bar__form-label">Buscar
        </label>
        <input type="search" class="search-bar__form-search" id="busqueda">
        <input type="submit" value="🔍" class="search-bar__form-submit" >
      </form>
      <div class="search-bar__carrito-container"><i class="fa-solid fa-cart-shopping fa-2xl"></i></div>
      <div class="menu-toggle">
        <label for="menu" class="menu-toggle__label">
          <span class="menu-toggle__top-bread"></span>
          <span class="menu-toggle__meat"></span>
          <span class="menu-toggle__bottom-bread"></span>
        </label>
      </div>
    </div> <!-- search-bar -->
  </header>

  <main>
    <section class="section-about-us">
      <header class="section-about-us__header">
        <h1>Nosotros</h1>
      </header>
      <div class="about-us">
        <div class="about-us__info__C-ON">
          <h2 class="about-us__info__heading">Acerca de C-ON</h2>
          <p class="about-us__info__abaut-con-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam ex qui doloremque perferendis? Dolor alias esse, similique nesciunt accusamus architecto harum earum nemo totam a rem perspiciatis facilis vitae. Odit doloremque praesentium possimus dolorum sapiente.
          </p>
        </div> <!-- Info-C-ON -->

        <div class="about-us__info__services">
          <h2 class="about-us__info__heading">Nuestros servicios</h2>
          <p class="about-us__info__abaut-con-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam ex qui doloremque perferendis? Dolor alias esse, similique nesciunt accusamus architecto harum earum nemo totam a rem perspiciatis facilis vitae. Odit doloremque praesentium possimus dolorum sapiente.
          </p>
        </div> <!-- Info-Services -->
        
        <div class="about-us__info__purpose">
          <h2 class="about-us__info__heading">Nuestro proposito</h2>
          <p class="about-us__info__abaut-con-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam ex qui doloremque perferendis? Dolor alias esse, similique nesciunt accusamus architecto harum earum nemo totam a rem perspiciatis facilis vitae. Odit doloremque praesentium possimus dolorum sapiente.
          </p>
        </div> <!-- Info-purpose -->
      </div> 

    </section> 
  </main> <!-- main -->

  <footer class="footer">
    <div class="footer__warranty">
      <div class="footer__warranty__secure-payment">
        <div class="footer__icon">
          <i class="fa-solid fa-shield"></i>
        </div>
        <div class="footer__warranty__description">
          <p class="footer__warranty__title">Pagos seguros</p>
          <p class="footer__warranty__text">Paga de forma segura con nuestra plataforma de pagos.</p>  
        </div>
      </div> <!-- secure-payment -->
      <div class="footer__warranty__free-shipping">
        <div class="footer__icon">
          <i class="fa-solid fa-truck-moving"></i>
        </div>
        <div class="footer__warranty__description">
          <p class="footer__warranty__title">Envío gratis desde $100.000</p>
          <p class="footer__warranty__text">Para pagos con nuestra tarjeta a partir de $100.000 COP.</p>
        </div>
      </div> <!-- free-shipping -->
      <div class="footer__warranty__refund">
        <div class="footer__icon">
          <i class="fa-solid fa-sack-dollar"></i>
        </div>
        <div class="footer__warranty__description">
          <p class="footer__warranty__title">Garantia de rembolso</p>
          <p class="footer__warranty__text">Si no estas conforme con tu compra te devolvemos tu dinero.</p>
        </div>
      </div> <!-- refund -->
    </div>
    <div class="footer__info">
      <div class="footer__info__payment-method">
        <div class="footer__icon">
          <i class="fa-regular fa-credit-card"></i>
        </div>
        <div class="footer__icon">
          <i class="fa-brands fa-paypal"></i>
        </div>
        <div class="footer__icon">
          <i class="fa-brands fa-cc-visa"></i>
        </div>
        <div class="footer__icon">
          <i class="fa-brands fa-cc-mastercard"></i>
        </div>
      </div>
      <div class="footer__info__contact-support">
        <p class="footer__info__contact-text"><i class="fa-solid fa-location-dot"></i> Av 5 L502 Bogota - Colombia</p>
        <p class="footer__info__contact-text"><i class="fa-regular fa-envelope"></i> c.on@coninfo.com.co</p>
        <p class="footer__info__contact-text"><i class="fa-solid fa-phone-flip"></i> 12345678</p>
      </div>
    </div>
  </footer>

  <script type="module" src="/main.js"></script>
</body>

</html>