@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');


$dark1: #27374D;
$dark2: #526D82;
$light2: #9DB2BF;
$light1: #DDE6ED;

$blueDark1:#0B2447;
$blueDark2:#19376D;
$bluelight2:#576CBC;
$bluelight1:#A5D7E8;

$darkContrast:#5C469C;
$lightContrast:#D4ADFC;

body {
  font-family: "Open Sans", sans-serif;
}
